.item-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

.item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 170px;
}
