<div class="container">
	<div *ngIf="item">
		<div class="title-container">
			<h1 class="title">{{item.name}} </h1>
			<input class="checkbox" type="checkbox" [checked]='item.isChecked'>
      <span class="saving-state" style="color: #777">{{savingState}}</span>
		</div>
		<app-separator></app-separator>
    <div>
			<textarea #contentTextArea
                class="content"
                placeholder="Write something cool..."
                (keyup)="keyUpEvent()" value="{{item.content}}"></textarea>
    </div>
  </div>
</div>
