<div class="container">
	<div *ngIf="item">
    <span class="saving-state" style="color: #777">{{savingState}}</span>
		<div class="title-container">
      <input #nameInput class="name" type="text" (keyup)="nameKeyUpEvent()" value="{{item.name}}">
      <div class="tools-container">
        <app-delete-button (click)="deleteItem(item)"></app-delete-button>
        <app-favorite-button [item]="item" (click)="changeCheckboxItem(item)"></app-favorite-button>
      </div>
		</div>
		<app-separator></app-separator>
    <div>
			<textarea #contentTextArea
                class="content"
                placeholder="Write something cool..."
                (keyup)="contentKeyUpEvent()" value="{{item.content}}"></textarea>
    </div>
  </div>
</div>
