.container {
  margin-left: 50px;
  margin-top: 50px;
  font-weight: 700;
}

input[type="checkbox"] {
  background-color: #FFFFFF;
  border: 3px solid black;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked {
  background-color: #ffed4b;
  -webkit-appearance: none;
}

.title-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.tools-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1em;
  flex-grow: 1;
}

.name {
  flex-grow: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
  width: 90%;
  font-size: 28pt;
}

.checkbox {
  flex-grow: 0;
  flex-shrink: 0;
}

.saving-state {
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}

.content {
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;
  height: 100Vh;
  border: none;
}
