.item-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1em;
  font-weight: 600;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  background-color: #FFFFFF;
  border: 3px solid black;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked {
  background-color: #75b3ff;
  -webkit-appearance: none;
}

.delete-btn {
  background-color: #ff7575;
  border: 3px solid black;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  right: 0px;
  position: absolute;
}
