.input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.plus-btn {
  background-color: #95ff75;
  border: 3px solid black;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  right: 0px;
  flex-grow: 0;
}

input[type="text"] {
  background-color: #fff;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  height: 30px;
  outline: none;
  flex-grow: 1;
  border-right-style: hidden;
}
