<div style="margin: 10px;">
  <app-title text="Add an item"></app-title>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <div class="input-group">
      <input type="text" formControlName="name">
      <button type="submit" class="plus-btn"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
  </form>
</div>
<app-separator></app-separator>
<div style="margin: 10px;">
  <app-title text="List of item"></app-title>
	<app-items-table [items]="items" (deleteItemEvent)="deleteItem($event)" (changeCheckboxItemEvent)="changeCheckboxItem($event)"></app-items-table>
</div>
