body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  gap: 0;
  padding: 0;
  margin: 0;
}

.sidebar {
  flex-basis: 300px;
  flex-grow: 1;
  border-right: 3px solid black;
  font-size: 15px;
}

.content {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}
